<div class="row mb-5">
  <div class="col-6 font-weight-bold">
    <h2>伝票編集</h2>
  </div>
  <div class="col-6 text-right">
    <%= link_to "一覧に戻る",admin_projects_path,class:"btn btn-warning font-weight-bold" %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    資格更新
  </div>
  <%= form_for(@project, url:{controller:'projects', action: 'update',id:@project.id}) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="card-body">
      <div class="form-group">
        <%= f.label :name, "名前" %>
        <%= f.text_field :name, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date, "日付" %>
        <%= f.date_field :date, class:"form-control" %>
      </div>
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.fields_for :project_users do |project_user| %>
          <%= render 'project_user_fields', f: project_user %>
        <% end %>
        <div class="add-association">
          <%= link_to_add_association f, :project_users, class: "btn btn-outline-dark" do %>
            追加
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <%= f.label :start_time, "開始時間" %>
            <%= f.time_field :start_time, class:"form-control" %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= f.label :end_time, "終了時間" %>
            <%= f.time_field :end_time, class:"form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.label :drivers, "運転" %>
        <%= f.fields_for :drivers do |driver| %>
          <%= render 'driver_fields', f: driver %>
        <% end %>
        <div class="add-association">
          <%= link_to_add_association f, :drivers, class: "btn btn-outline-dark" do %>
            追加
          <% end %>
        </div>
      </div>
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.label :trips, "出張" %>
        <%= f.fields_for :trips do |trip| %>
          <%= render 'trip_fields', f: trip %>
        <% end %>
        <div class="add-association">
          <%= link_to_add_association f, :trips, class: "btn btn-outline-dark" do %>
            追加
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :leader_id, "リーダー" %>
        <%= f.collection_select :leader_id, @users, :id, :name, {prompt: "リーダーを選択してください"}, {class: 'form-control'} %>
      </div>
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.label :project_licenses, "資格" %>
        <%= f.fields_for :project_licenses do |project_license| %>
          <%= render 'project_license_fields', f: project_license %>
        <% end %>
        <div class="add-association">
          <%= link_to_add_association f, :project_licenses, class: "btn btn-outline-dark" do %>
            追加
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address, "場所" %>
        <%= f.text_field :address, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :supplement, "備考" %>
        <%= f.text_area :supplement, class:"form-control" %>
      </div>
      <% if admin? %>
        <div class="form-group form-check">
          <%= f.check_box :is_read, class:"form-check-input" %>
          <%= f.label :is_read, "既読", class:"form-check-label" %>
        </div>
      <% end %>
    </div>
    <div class="card-footer text-right">
      <%= link_to "削除", "/admin/projects/#{@project.id}", class:"btn btn-danger", method: :delete %>
      <%= f.submit "登録",class:"btn btn-primary" %>
    </div>
  <%end%>
</div>
