<div class="row mb-5">
  <div class="col-6 font-weight-bold">
    <h2></h2>
  </div>
  <div class="col-6 text-right">
    <%= link_to "一覧に戻る",admin_projects_path,class:"btn btn-warning font-weight-bold" %>
  </div>
</div>
<%= render "shared/flash_message" %>
<div class="card">
  <div class="card-header">
    資格更新
  </div>
  <%= form_for(@project, url:{controller:'projects', action: 'update',id:@project.id}) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="card-body">
      <div class="form-group">
        <%= f.label :leader_id, "隊長" %>
        <%= f.select :leader_id, @members.map{|member| [member.user.name, member.user_id]}, {prompt: "隊長を選択してください"}, {class: 'form-control'} %>
      </div>  
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.label :drivers, "運転" %>
        <%= f.fields_for :drivers do |driver| %>
          <%= render 'driver_fields', f: driver %>
        <% end %>
        <div class="add-association">
          <%= link_to_add_association f, :drivers, class: "btn btn-outline-dark" do %>
            追加
          <% end %>
        </div>
      </div>
      <div class="form-group" id='detail-association-insertion-point'>
        <%= f.label :trips, "出張" %>
        <%= f.fields_for :trips do |trip| %>
          <%= render 'trip_fields', f: trip %>
        <% end %>
        <div class="add-association">
          <%= link_to_add_association f, :trips, class: "btn btn-outline-dark" do %>
            追加
          <% end %>
        </div>
      </div>    
    </div>
    <div class="card-footer text-right">
      <%= link_to "削除", "/admin/projects/#{@project.id}", class:"btn btn-danger", method: :delete %>
      <%= f.submit "登録",class:"btn btn-primary" %>
    </div>
  <%end%>
</div>
