<div class="row mb-5">
  <div class="col-6">
    <h2 class="font-weight-bold">伝票一覧</h2>
  </div>
  <div class="col-6 text-right">
    <%= link_to "新規追加",new_admin_project_path,class:"btn btn-warning font-weight-bold" %>
  </div>
</div>
<%= render "shared/flash_message" %>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">日付</th>
      <th scope="col">業者名</th>
      <th scope="col">編集</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <% if admin? or project.is_read == nil %>
        <tr>
          <td><%= project.date %></td>
          <td><%= project.name %></td>
          <td><%= link_to "編集",edit_admin_project_path(project),class:"btn btn-warning font-weight-bold" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @projects %>
