<%= form_with(model:@user, url:admin_users_path, method: :post, local:true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name, "名前" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード"%>
      <%= f.password_field :password, class:"form-control" %>
    </div>
    <div class="form-group form-check">
      <%= f.check_box :admin, class:"form-check-input" %>
      <%= f.label :admin, "管理者", class:"form-check-label" %>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= f.submit "登録",class:"btn btn-primary" %>
  </div>
<%end%>
