<%= form_with(model:@user, url:admin_users_path, method: :post, local:true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="card-body">
    <div class="form-group">
      <%= f.label :name, "社員名" %>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "パスワード"%>
      <%= f.text_field :password, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :admin, "管理者"%>
      <%= f.check_box :admin, class:"" %>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= f.submit "登録",class:"btn btn-primary" %>
  </div>
<%end%>
